.speech{
font-family: Text, monospace;
font-size: xx-large ;
color: black;


}

.stage-direction{
font-family:Lucida, cursive;
font-size: xx-large;
color: black;
background-color:lightyellow;

}
.stage-direction:hover{
background-color: mediumseagreen;
color: navy;
}

.name{
font-family: Courier, Monospace;
font-size: xx-large;
color: black;


}

.bertram{
color: orchid;
}

.countess{
color: purple;

}
.lafue{
color: rebeccapurple;

}

table{
    border : 1px dashed black;
    color :blueviolet;
    text-align: left;
    padding: 11px;
    margin: 11px;
}

table, th, td {
  border: 3px groove;
}

tr:nth-child(even) {
  background-color: aqua;
}

.name:hover {
     text-shadow : 5px 5px 5px yellowgreen ; 
      border :green ;
      border : groove ;
    } 

    ul.navbar-horizontal {
      list-style-type: none;
      margin: 0;
      padding: 0;
      }
  ul.navbar-horizontal li {
      float:left; 
      color:#000;
      background-color:lightgrey;
      }
  ul.navbar-horizontal a {
      display:block;
      padding:8px;
  }
  ul.navbar-horizontal a:hover {
  background-color: #555;
  color:white;
  }

